<p style="background-color: rgb(144, 199, 168); text-align: center; font-size: 1.5rem;">Hello it is {{title}} </p>

<div class="main-container">
  <div class="table-container">
    <nav>
      <ul class="menu">
        <li [ngClass]="{'active': listStates['income']}">
          <a (click)="setActive('income')" href="#">Income</a>
        </li>
        <li [ngClass]="{'active': listStates['outcome']}">
          <a (click)="setActive('outcome')" href="#">Ouctcome</a>
        </li>
        <li [ngClass]="{'active': listStates['loans']}">
          <a (click)="setActive('loans')" href="#">Loans</a>
        </li>
        <li [ngClass]="{'active': listStates['investments']}">
          <a (click)="setActive('investments')" href="#">Investments</a>
        </li>
      </ul>
    </nav>
    <app-tab
      [isActive]="listStates['income']"
      [clientsInfo]="filteredByType('income')">
    </app-tab>
    <app-tab
      [isActive]="listStates['outcome']"
      [clientsInfo]="filteredByType('outcome')">
    </app-tab>
    <app-tab
      [isActive]="listStates['loans']"
      [clientsInfo]="filteredByType('loan')">
    </app-tab>
    <app-tab
      [isActive]="listStates['investments']"
      [clientsInfo]="filteredByType('investment')">
    </app-tab>
  </div>
</div>



